/*importgoogle font - Inconsolata*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata:wght@400;500;600;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Inconsolata' sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./brick_wall.jpg);  /*added an image instead of a background color*/
}
.board{
    padding: 20px;
    border-radius: 10px;
    background: #a6acb0;
    box-shadow: 0 10px 25px black;
}


#timer {
    font-size: 30px;
}

.image {
    width: 90px;
    height: 90px;
    margin: 5px;
    background-image: url(./brick_wall.jpg); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tile.flipped {
background-color: #fff;
}